.mapContainer {
  height: 83.5vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-evenly;
  flex-shrink: 0;
  color: #fff;
}
.mapContainer > div {
  /* margin: 20px 20px; */
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.btnCont {
  display: flex;
  justify-content: center;
}

.bttns{
  display: flex;
  justify-content: space-between;
}

.bttns button{
  all: unset;
  background-color: #1DB954
  ;
  padding: 0.5rem 1rem;
  border-radius: 25px;
}

.bttns button:hover{
  cursor: pointer;
}

.map-inputs{
  display: flex;
  justify-content: center;
  padding: 1rem 1.5rem;
  
}

.map-inputs input{
  font-size: 1.2rem;
  width: 50%;
}

.map-inputs button{
  all: unset;
  margin-left: 0.5rem;
  background-color: #1DB954;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
}

.invalid-screen{
  max-width: max-content;
  margin: 3rem auto;
}


.error-api{
  width: max-content;
  margin: 1rem auto ;
  color: red;
  text-align: center;
}

.error-api h1{
  font-size: 2rem;
}

.readme-link{
  color: red;
  font-size: 1.2rem;
}