.mapContainer {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: static;
  color: #fff;
}
.mapContainer > div {
  margin: 20px 20px;
}
.btnCont {
  display: flex;
  justify-content: center;
}

.bttns{
  display: flex;
  justify-content: space-between;
}

.bttns button{
  all: unset;
  background-color: #1DB954
  ;
  padding: 0.5rem 1rem;
  border-radius: 25px;
}

.bttns button:hover{
  cursor: pointer;
}